<div class="py-5">
<div class="container">
        <div class="row">
            <div class="left col-xl-3 col-lg-4 d-none d-xl-block d-lg-block">
                <h5 class="quick mt-3 mb-4">Quick Search</h5>
                <div class="city mt-4">
                    <h6 class="p-2 text-white title-side ">Srarch City</h6>
                <div class="wrap-form form">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            <h6>Cairo</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            <h6>Alexandira</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
                        <label class="form-check-label" for="exampleRadios3">
                            <h6>Portsaed</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option2">
                        <label class="form-check-label" for="exampleRadios4">
                            <h6>Sharkia</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option2">
                        <label class="form-check-label" for="exampleRadios5">
                            <h6>Ismalia</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios7" value="option2">
                        <label class="form-check-label" for="exampleRadios7">
                            <h6>Sinai</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios8" value="option2">
                        <label class="form-check-label" for="exampleRadios8">
                            <h6>Suez</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios9" value="option2">
                        <label class="form-check-label" for="exampleRadios9">
                            <h6>Ismalia</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios20" value="option2">
                        <label class="form-check-label" for="exampleRadios10">
                            <h6>Bani suef</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios11" value="option2">
                        <label class="form-check-label" for="exampleRadios11">
                            <h6>Gharbia</h6>
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios12" value="option2">
                        <label class="form-check-label" for="exampleRadios12">
                            <h6>Dakahlia</h6>
                        </label>
                      </div>
                </div>
                </div>
                <div class="blood mt-4">
                    <h6 class="p-2 text-white title-side">Blood Type</h6>
                <div class="wrap-blood wrap-form form">
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios13" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios13">
                            A+
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios14" value="option2">
                        <label class="form-check-label" for="exampleRadios14">
                            A-
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios15" value="option2">
                        <label class="form-check-label" for="exampleRadios15">
                            B+
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios16" value="option2">
                        <label class="form-check-label" for="exampleRadios16">
                            B-
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios17" value="option2">
                        <label class="form-check-label" for="exampleRadios17">
                            AB+
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios18" value="option2">
                        <label class="form-check-label" for="exampleRadios18">
                            O+
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios19" value="option2">
                        <label class="form-check-label" for="exampleRadios19">
                            O-
                        </label>
                      </div>
                      
                </div>
                </div>
                <input type="submit" value="Confirm" class="sub w-100 text-center mt-2">
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12">
                <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <h2 class="name-city my-2">Cairo City - <span class="type-blood">A+</span> </h2>
                        </div>
                        <div class="col-lg-8">
                            <input type="searsh" placeholder="Nearby Location" class="form-control">
                        </div>
                            <div class="col-xl-4 col-lg-6 mt-4 col-md-6">
                                <div class="wrap-info">
                                    <div class=" text-center info mb-3 mt-5">
                                        <h5>AS</h5>
                                        <h6>Ahmed Eldeep</h6>
                                        <h6>Age : <span>26</span></h6>
                                        <h6>phone : <span>01068317720</span></h6>
                                        <h6>Location : <span>Helmia</span></h6>
                                    </div>

                                        <div class="d-flex csw justify-content-around">
                                            <div>
                                                <span>Call Now</span>
                                            </div>
                                            <div>
                                                <span >E-mail</span>
                                            </div>
                                            <div>
                                                <span>Whatsapp</span>
                                            </div>
                                        </div>
                                        <span class="type">A+</span>
                                        <span class="time">1m ago</span>  
                                </div>
                            </div> 
                            <div class="col-xl-4 col-lg-6 mt-4 col-md-6">
                                <div class="wrap-info">
                                    <div class=" text-center info mb-3 mt-5">
                                        <h5>AS</h5>
                                        <h6>Ahmed Eldeep</h6>
                                        <h6>Age : <span>26</span></h6>
                                        <h6>phone : <span>01068317720</span></h6>
                                        <h6>Location : <span>Helmia</span></h6>
                                    </div>

                                    <div class="d-flex csw justify-content-around">
                                        <div>
                                            <span>Call Now</span>
                                        </div>
                                        <div>
                                            <span >E-mail</span>
                                        </div>
                                        <div>
                                            <span>Whatsapp</span>
                                        </div>
                                    </div>
                                        <span class="type">A+</span>
                                        <span class="time">1m ago</span>
                                        

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 mt-4 col-md-6">
                                <div class="wrap-info">
                                    <div class=" text-center info mb-3 mt-5">
                                        <h5>AS</h5>
                                        <h6>Ahmed Eldeep</h6>
                                        <h6>Age : <span>26</span></h6>
                                        <h6>phone : <span>01068317720</span></h6>
                                        <h6>Location : <span>Helmia</span></h6>
                                    </div>

                                    <div class="d-flex csw justify-content-around">
                                        <div>
                                            <span>Call Now</span>
                                        </div>
                                        <div>
                                            <span >E-mail</span>
                                        </div>
                                        <div>
                                            <span>Whatsapp</span>
                                        </div>
                                    </div>
                                        <span class="type">A+</span>
                                        <span class="time">1m ago</span>  
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 mt-4 col-md-6">
                                <div class="wrap-info">
                                    <div class=" text-center info mb-3 mt-5">
                                        <h5>AS</h5>
                                        <h6>Ahmed Eldeep</h6>
                                        <h6>Age : <span>26</span></h6>
                                        <h6>phone : <span>01068317720</span></h6>
                                        <h6>Location : <span>Helmia</span></h6>
                                    </div>

                                    <div class="d-flex csw justify-content-around">
                                        <div>
                                            <span>Call Now</span>
                                        </div>
                                        <div>
                                            <span >E-mail</span>
                                        </div>
                                        <div>
                                            <span>Whatsapp</span>
                                        </div>
                                    </div>
                                        <span class="type">A+</span>
                                        <span class="time">1m ago</span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 mt-4 col-md-6">
                                <div class="wrap-info">
                                    <div class=" text-center info mb-3 mt-5">
                                        <h5>AS</h5>
                                        <h6>Ahmed Eldeep</h6>
                                        <h6>Age : <span>26</span></h6>
                                        <h6>phone : <span>01068317720</span></h6>
                                        <h6>Location : <span>Helmia</span></h6>
                                    </div>

                                    <div class="d-flex csw justify-content-around">
                                        <div>
                                            <span>Call Now</span>
                                        </div>
                                        <div>
                                            <span >E-mail</span>
                                        </div>
                                        <div>
                                            <span>Whatsapp</span>
                                        </div>
                                    </div>
                                        <span class="type">A+</span>
                                        <span class="time">1m ago</span>
                                        

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 mt-4 col-md-6">
                                <div class="wrap-info">
                                    <div class=" text-center info mb-3 mt-5">
                                        <h5>AS</h5>
                                        <h6>Ahmed Eldeep</h6>
                                        <h6>Age : <span>26</span></h6>
                                        <h6>phone : <span>01068317720</span></h6>
                                        <h6>Location : <span>Helmia</span></h6>
                                    </div>

                                    <div class="d-flex csw justify-content-around">
                                        <div>
                                            <span>Call Now</span>
                                        </div>
                                        <div>
                                            <span >E-mail</span>
                                        </div>
                                        <div>
                                            <span>Whatsapp</span>
                                        </div>
                                    </div>
                                        <span class="type">A+</span>
                                        <span class="time">1m ago</span>
                                        

                                </div>
                            </div>

                            <ngb-pagination class="d-flex justify-content-end m-auto py-4" [collectionSize]="70" [(page)]="page"></ngb-pagination>                </div>
        </div>
    </div>

    </div>
    
    
</div>