<footer class="">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="title mb-4">
                    <h4>Our Pages</h4>
                    <hr>
                </div>                
                <ul class="list-unstyled">
                    <li><a href="#" routerLink="home" class="hvr-icon-forward">
                        Home
                        <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    </a></li>
                    <li><a href="#" routerLink="about" class="hvr-icon-forward">
                        About us
                        <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    </a></li>
                    <li><a href="#" routerLink="term"  class="hvr-icon-forward">
                        Donation terms
                        <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    </a></li>
                    <li><a href="#" routerLink="donor" class="hvr-icon-forward">
                        Donors
                        <i class="fa fa-chevron-circle-right hvr-icon"></i>
                    </a></li>                                                            
                </ul>
            </div>
            <div class="col-lg-6 col-md-4">
                <h1 class="text-white text-center logo mb-3 mt-5"><span class="text-danger">SHARE</span> LIFE</h1>
                <ul class="list-unstyled d-flex justify-content-center align-items-center">
                    <li><a href=""><i class="fa fa-facebook fa-2x mr-3"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube fa-2x"></i></a></li>
                </ul>
            </div>                        
            <div class="col-lg-3 col-md-4">
                <div class="title mb-4">
                    <h4>Need support !!</h4>
                    <hr>
                </div>

                <form>
                    <input class="form-control my-1" type="text" placeholder="Full Name">
                    <input class="form-control my-1" type="number" placeholder="Phone number">
                    <textarea class="form-control my-1" placeholder="Message ..."></textarea>
                    <input type="submit" class="btn btn-danger mt-2 m-auto text-center d-block " value="Send">
                </form>                            
            </div>            
        </div>
    </div>
        <h6 class="text-white text-center m-0 py-2">Copyright reseved 2020 </h6>
</footer>