
  <header>
    <div class="overlay">
      <div class="container d-flex justify-content-center align-items-center h-100 w-100 text-white text-center flex-column">
       <h1 class="my-4">SHARE LIFE IS HELPING YOU FOR DONATE</h1>
       <div class="row for-width">
         <div class="col-md-6">
          <select class="form-control my-2">
            <option disabled>City</option>
            <option>Cairo</option>
            <option>Alexandira</option>
            <option>Portsaed</option>
            <option>Dakahlia</option>
            <option>Gharbia</option>
            <option>Sharkia</option>

           </select>           
         </div>
         <div class="col-md-6">
          <select class="form-control my-2">
            <option disabled>Blood Type</option>
            <option>A+</option>
            <option>A-</option>
            <option>B+</option>
            <option>B-</option>
            <option>O+</option>
            <option>O-</option>
            <option>AB+</option>
            <option>AB-</option>

          </select>           
         </div>
       </div>
       <button class="btn btn-outline-light my-3" routerLink="/donor"><i class="fa fa-search"></i> Search</button>

      </div>
      
    </div>
  </header>